html, body {
    height: 100%;
    width: 100%;
}

body, ul, dl, dd, form, input, textarea, select,p, h1, h2, h3, h4, h5, h6 ,button{
    padding: 0;
    margin: 0;
    /*font-size: 12px;*/
    font-family: "Microsoft YaHei",sans-serif;
}

button,a,li,select{
    outline: none;
}
li {
    list-style: none;
}

img {
    border: none;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #0064cd;
}

.clearfix {
    zoom: 1;
    clear:both;
}


.fl {
    float: left;
    _display: inline;
    height: inherit;
}

.fr {
    float: right;
    _display: inline;
    height: inherit;
}

/*.fixwidth {
    width: 1300px;
    height: inherit;
    margin: 0 auto;
}*/

.overflow_hide {
    overflow: hidden
}


/*滚动条样式*/
/*滚动条样式*/
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);

}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

#__layout,#__nuxt{height:100%}


.full-width{
    width: 100% !important;
}
